<div class="container">
    <h4>Buy your tickets: </h4>
    <hr>
    <form id="flightSeach" action="/checkFlight" class="row bootstrapForm" method="post">
    <div class="row">
      <div class="col-12 col-lg-10">
        <div class ="row">
          <div class="col-12 col-md-5 ">
            <label for="airline">Flight ID:</label>
            <select name="airline" id="airline">
                <option value="AC">AC</option>
                <option value="ANA">ANA</option>
                <option value="UC">UC</option>
              </select>
              <input id="flightid" type="text" name="flightid" value="" maxlength="4" size="4">
            
          </div>
            
          
        </div>
       
    </div>
    <div class="col-12 col-lg-2 align-self-end">
      <button id="updateButton" type="submit" class="btn btn-primary btn-block"><i class="fa-solid fa-plane-departure"></i> Flights</button>
    </div>
    </div>
    </form>
  </div>
  <script src="/scripts/auto_complete.js"></script>
   