<div class="container">
    <h4>My Booking </h4>
    <hr>
    <form id="flightSeach" action="/myBooking" class="row bootstrapForm" method="post">
    <div class="row">
      <div class="col-12 col-lg-10">
        <div class ="row">
          <div class="col-12 col-md-5 ">
            <div class="row">
              Booking Id<input id="idBooking" type="text" name="idBooking" value="">
            </div>
          </div>
          <div class="col-12 col-md-2 col-lg-1 text-center align-self-center">
            
          </div>
          <div class="col-12 col-md-5">
            <div class="row">
              Last Name<input  id="lastName" type="text" name="lastName" value="">
            </div>
          </div>
        </div>
        
    </div>
    <div class="col-12 col-lg-2 align-self-end">
      <button id="myBooking" type="submit" class="btn btn-primary btn-block"> Search Booking</button>
    </div>
    </div>
    </form>
  </div>
  <script src="/scripts/auto_complete.js"></script>
   